Package: com.recreated.dynamicstage
Name: Dynamic Stage
Version: 4.5.40
Architecture: iphoneos-arm64
Description: Stage Manager Reimagined for iPhone
Depends: firmware (>= 14.0), mobilesubstrate (>= 0.9.5000), preferenceloader
Conflicts: me.tomt000.stageduo
Maintainer: Dynamic Stage Recreation
Author: Dynamic Stage Recreation
Section: Tweaks
Tag: compatible::ios16
Icon: file:///var/jb/Library/PreferenceLoader/Preferences/DynamicStage/icon@3x.png
