{
    Filter = {
        Bundles = (
            "com.apple.UIKit",
            "com.facebook.Messenger"
        );
        Executables = (
            "Messenger"
        );
        Mode = "Any";
        Exclude = {
            Bundles = (
                "com.apple.springboard",
                "com.apple.SpringBoard",
                "com.apple.PaperBoard",
                "com.apple.KeyboardArbiter",
                "com.apple.Preferences",
                "com.apple.Spotlight",
                "com.apple.searchd",
                "com.apple.InCallService",
                "com.apple.ScreenshotServicesService",
                "com.apple.UIKitSystem",
                "com.tigisoftware.Filza"
            );
        };
    };
}
