<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Auto Kill</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Auto Kill</string>
			<key>footerText</key>
			<string>An app kept alive reopens on the stage instantly. Killing it on close gives the memory straight back to whatever you are using full screen.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>On Close</string>
			<key>value</key>
			<string>On Close</string>
			<key>accessoryType</key>
			<string>UITableViewCellAccessoryCheckmark</string>
			<key>action</key>
			<string>selectAutoKillOption:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>5 minutes</string>
			<key>value</key>
			<string>5 minutes</string>
			<key>accessoryType</key>
			<string>UITableViewCellAccessoryCheckmark</string>
			<key>action</key>
			<string>selectAutoKillOption:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>10 minutes</string>
			<key>value</key>
			<string>10 minutes</string>
			<key>accessoryType</key>
			<string>UITableViewCellAccessoryCheckmark</string>
			<key>action</key>
			<string>selectAutoKillOption:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Never</string>
			<key>value</key>
			<string>Never</string>
			<key>accessoryType</key>
			<string>UITableViewCellAccessoryCheckmark</string>
			<key>action</key>
			<string>selectAutoKillOption:</string>
		</dict>
	</array>
</dict>
</plist>
