<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Misc</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Gesture Mode</string>
			<key>footerText</key>
			<string>Use the system gesture mode to use the native iOS gesture handler to open the Stage, or use the pan gesture mode to use the legacy trigger method. If unsure, please use System. Requires a respring.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>key</key>
			<string>useModernGesture</string>
			<key>default</key>
			<integer>1</integer>
			<key>validTitles</key>
			<array>
				<string>Pan</string>
				<string>System</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>MISC</string>
			<key>footerText</key>
			<string>Showing the first install intro will require a respring. If you have questions about how to use the tweak, this is a good place to start 😉</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Show First Install Intro</string>
			<key>action</key>
			<string>resetIntro</string>
			<key>confirmation</key>
			<dict>
				<key>title</key>
				<string>Reset Introduction</string>
				<key>prompt</key>
				<string>This will respring your device and show the first install intro.</string>
				<key>okTitle</key>
				<string>Ok</string>
				<key>cancelTitle</key>
				<string>Cancel</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
